:root {
  --color-bg: #f0f0f0;
  --color-primary: #12baed;
  --color-accent: #2454cc;
  --btn-color: #ffffff;
  --btn-size: 70px;
}

body {
  font-family: sans-serif;
  background: linear-gradient(135deg, #a1c4fd, #c2e9fb); /* gradiente */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: rgba(255, 255, 255, 0.336);
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* effetto card */
  width: 100%;
  max-width: 400px;
}

h1 {
  text-align: center;
  margin-bottom: 1rem;
  color: #333;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

button {
  height: var(--btn-size);
  background-color: var(--color-primary);
  color: var(--btn-color);
  font-weight: bold;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

#uguale {
  grid-column: span 4;
  background-color: var(--color-accent);
}

#display {
  margin-bottom: 0.5rem;
  display: block;
  width: 387px;
  height: 40px;
  background-color: rgb(219, 226, 243);
  color: black;
  font-weight: bold;
  font-size: medium;
  cursor: text;
  text-align: center;
}
